<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Yomu</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <!-- Ini tombol untuk ke halaman profil -->
    <a href="/profile.html">
        <button type="button">Pengaturan Profil</button>
    </a>

    <form method="post" action="/api/auth/logout" style="display:inline;">
        <button type="submit">Logout</button>
    </form>
</div>

<div sec:authorize="hasRole('ADMIN')" style="margin-top: 10px;">
    <a href="/admin.html">
        <button type="button" style="background-color: gold; font-weight: bold;">👑 Dashboard Admin</button>
    </a>
</div>
<div sec:authorize="isAnonymous()">
    <a href="login.html"><button>Login</button></a>
</div>

<h2>Daftar Misi Bacaan:</h2>

<div th:if="${#lists.isEmpty(daftarBacaan)}">
    <p>Belum ada bacaan yang tersedia saat ini.</p>
</div>

<ul>
    <li th:each="bacaan : ${daftarBacaan}">

        <a th:href="@{/bacaan/{id}(id=${bacaan.id})}" th:text="${bacaan.judul}">Judul Bacaan</a>
    </li>
</ul>

</body>
</html>
