<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Uji Coba Integrasi</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <form method="post" action="/api/auth/logout" style="display:inline;">
        <button type="submit">Logout</button>
    </form>
</div>
<div sec:authorize="isAnonymous()">
    <a href="login.html"><button>Login</button></a>
</div>
<h1>Kalkulator Penjumlahan Sederhana</h1>



<form action="/hitung" method="post">
    <input type="number" name="angka1" placeholder="Angka 1" required>
    +
    <input type="number" name="angka2" placeholder="Angka 2" required>
    <button type="submit">Hitung &amp; Simpan!</button>
</form>

<br><hr>

<h2>Riwayat Database:</h2>
<p th:if="${#lists.isEmpty(riwayatKalkulasi)}">Belum ada riwayat perhitungan di database.</p>

<ul>
    <li th:each="data : ${riwayatKalkulasi}">
        <span th:text="${data.angkaPertama}"></span> +
        <span th:text="${data.angkaKedua}"></span> =
        <strong th:text="${data.hasil}"></strong>
    </li>
</ul>
</body>
</html>
